<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!--swiper cdn link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    
    <!--font awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <!--css style link-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section class="footer">
        <div class="box-container">
    
            <div class="box">
                <h3>quick links</h3>
                <a href="/"><i class="fas fa-angle-right"></i> Home</a>
                <a href="/upload"><i class="fas fa-angle-right"></i> Upload</a>
                <a href="/todo"><i class="fas fa-angle-right"></i> To-Do List</a>
                <a href="course"><i class="fas fa-angle-right"></i> Courses</a>
            </div>
    
            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> ask questions</a>
                <a href="#"><i class="fas fa-angle-right"></i> about us</a>
                <a href="#"><i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"><i class="fas fa-angle-right"></i> terms of use</a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#"><i class="fas fa-phone"></i> +919110472236</a>
                <a href="#"><i class="fas fa-phone"></i> +111-222-3333</a>
                <a href="#"><i class="fas fa-envelope"></i> keerthibm22@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Banglore, india - 560058</a>
            </div>

            
        </div>
    
        <div class="credit"> created by <span>Keerthi B M</span> | all rights reserved!</div>
    
    </section> 

</body>
</html>
